@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    font-family: Poppins, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
}